/* Various Items */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', sans-serif;
    color: #3e362e;
}

html {
    scroll-behavior: smooth;
}

p{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #b69f8f;
}

.column {
    flex: 50%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_col_margins {
    margin-left: 4rem;
}

.bottom_row_margins{
    margin-bottom: 5rem;
}

.scroll_margins {
    scroll-margin-top: 150px;
}
/* End Various Items */

/* Navbar Section */
.navbar {
    background: #b69f8f;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px 0 35px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 65px;
}

.navbar_links {
    color: #3e362e;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    padding: 0 1rem;
    height: 100%;
    position: relative;
    transition: transform .5s ease-in;
}

.navbar_links:hover {
    transform: translateX(5px);
    font-style: italic;
}

 @keyframes navButtonsDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeDown {
    opacity: 0;
    transform: translateY(-20px);
}


.home_link .logo {
    opacity: 0;
    transform: translateY(-20px);
    animation: navButtonsDown 1s ease-in-out 1s forwards; 
}

 .about {
    animation: navButtonsDown 1s ease-in-out 1.2s forwards; 
}

.project {
    animation: navButtonsDown 1s ease-in-out 1.3s forwards; 
}

.cv {
    animation: navButtonsDown 1s ease-in-out 1.4s forwards; 
}

.contact {
    animation: navButtonsDown 1s ease-in-out 1.5s forwards; 
}

@media screen and (max-width: 960px) {
    .navbar {
        border-bottom: none;
    }
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 70px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all .7s ease-in-out;
        height: 50vh;
        z-index: -1;
    }

    .navbar_menu.active {
        top: 100%;
        opacity: 1;
        transition: all .7s ease-in-out;
        z-index: 99;
        height: 50vh;
        font-size: 20px;
        background-color: #b69f8f;
        color:#3e362e; 
    }

    .navbar_name {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px;
        transition: all 0.3s ease-in-out;
        background: #3e362e;
    }
    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align:center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
        opacity: 80%;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* End Navbar Section */


/* Social Media Links */
.connections {
    max-width: 20px;
    max-height: 20px;
    margin: 20px 10px 0 0;
}
/* Social Media Links End */


/* Intro and PFP Section */

@keyframes fadeInAnimation {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInIntro {
    animation: fadeInAnimation 1.5s ease;
}

.hello {
    font-size: 130px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #31281e;
}

.name {
    font-weight: 500;
    font-size: 60px;
    color: #382e23;
}

.rows {
    font-family: 'Montserrat', sans-serif;
}

.subheader {
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px
}

.headshot_png {
    max-width: 500px;
    max-height: 500px;
}
/* Intro and PFP Section End */


/* About Me Section */

.fadeIn {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}
  
 .fadeIn.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.about_pars {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 25px;
    padding-right: 40px;
}

#aboutMe h1 {
    color: #382e23;
    font-size: 2rem;
}
/* About Me Section End */

/* Projects Section */
#projects h1 {
    color: #382e23;
    font-size: 2rem;
}

.project_container h1, h2, h3{
    color: #382e23;
}

#projects {
    justify-content: flex-start;
}

#projects h3 {
    font-weight: 600;
}

.blueeating {
    padding-right: 20px;
    min-width: 50%;
}

.spacing {
    margin-bottom: 15px;
}

.challenges {
    margin-left: 20px;
    padding-right: 20px;
}

.challenge_item{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}
/* Projects Section End */

/* CV Section */
#cv h1{
    color: #382e23;
    font-size: 2rem;
}

#cv h2, h3{
    color: #382e23;
}

#cv h3 {
    font-weight: 600;
}

.list_margins {
    margin-bottom: 10px;
}
/* CV Section End */

/* Contact Me Section */
#contactMe h4{
    color: #382e23;
}

#contactMe {
    margin-bottom: 40px;
}

.email {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: transform .5s ease-in-out;
    margin-top: 20px;
}

.credit {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px
}
/* Contact Me Section End */

/*Media Queries*/
@media screen and (max-width: 1100px) {
    .hello {
        font-size: 100px;
    }

    .name {
        font-size: 40px;
    }

    .headshot_png {
        max-width: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 768px) {

    .hello {
        font-size: 100px;
    }

    .name {
        font-size: 40px;
    }

    .about_pars {
        padding-right: 0;
        font-size: 13px;
    }

    .blueeating {
        min-width: 100%;
    }

    .challenges {
        padding-right: 0;
    }

    .challenge_item {
        margin-left: 0;
    }
    .row{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .column{
        padding: 20px;
    }
    .left_col_margins{
        margin-left: 0;
    }

    #contactMe:not(#keep_width) {
        flex-direction: row;
    }

    .email {
        font-size: 18px;
    }

    #accountSponsorship {
        max-width: 80%;
    }

    #col_decrease {
        flex-direction: row;
        font-size: 13px;
    }

    .challenge_item {
        font-size: 13px;
    }

    h1 {
        font-size: 20px;
    }
}
